:root {
    /* цвета */
    --color-black: #222222;
    --color-brand: #3561A4;
    --color-bg: #f4f4f4;
    --color-border: #efefef;
    --color-red: #c41429;
    --color-white: #fff;
    /* шрифты */
    --font-family: 'Raleway', 'Arial', sans-serif;
    --font-size: 16px;

    /* другое */
    --border-radius: 40px;
}

/* *звездочка означает для всех элементов */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* глобальные стили */

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-black);
}

a {
    color: var(--color-brand);
}

.button {
    width: 220px;
    height: 48px;
    border-radius: var(--border-radius);
}

.btn__more-info:hover {
    background-color: #6B92CD;
    transition: all 0.3s ease;
}

/* layout */

.container {
    width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* стили хэдера */

.page-header {
    border-bottom: 1px solid var(--color-border);
}

.page-header__row {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.page-header__nav {
    flex-grow: 1;
    margin-left: 40px;
}

.page-header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 35px;
}

.page-header__menu a {
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    /* анимация */
    transition: all 0.3s ease;
}

.page-header__menu a:hover {
    color: var(--color-brand);
    border-bottom: 1px solid var(--color-brand);
}

.page-header__tel {
    color: var(--color-black);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.page-header__cart {
    position: relative;
}

.page-header__cart-count {
    position: absolute;
    top: 0;
    left: 15px;

    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-red);
}

/* стили баннера */
.banner__block {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.banner__block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner__title {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.banner__text {
    font-size: 20px;
    margin-bottom: 48px;
}

.banner__btn a {
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    padding: 15px 44px 15px 45px;
    font-size: 18px;
    font-weight: 600;
}

.banner__btn {
    background-color: var(--color-brand);
}

.banner__img {
    border-radius: var(--border-radius);
}

.banner__nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.banner__nav-item {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-brand);
}

.banner__nav-item--active {
    background-color: var(--color-brand);
}

.banner__nav-item--none {
    background-color: var(--color-bg);
}

/* стили каталога */

.cat {
    background-color: var(--color-bg);
    padding-top: 80px;
    padding-bottom: 80px;
}

.cat__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cat__grid-item:nth-child(1) {
    grid-row: span 2;
}

.cat__wrapper {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cat__link {
    width: 360px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    gap: 30px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cat__grid-item {
    position: relative;
}

.cat__name {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    color: var(--color-white);
    margin: 0;
}

.cat__img {
    border-radius: var(--border-radius);
    background: linear-gradient(#000 #fff);
}

.cat__link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.cat__link-wrapper a {
    text-decoration: none;
    color: inherit;
}

.cat__text {
    margin: 0;
}

.gradient {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.gradient:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(#000, transparent 50%);
    opacity: 50%;
}

/* стили о компании */

.infobox__group {
    margin-top: 80px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 100px;
}

.infobox__group img {
    border-radius: var(--border-radius);
}

.infobox__group-title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
}

.infobox__group-text {
    font-size: 18px;
    line-height: 145%;
}

.video-gradient {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.video-gradient:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-color: #000;
    opacity: 20%;
}

/* стили панели  */

.panel {
    background-color: var(--color-bg);
}

.panel__row {
    padding-top: 58px;
    padding-bottom: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.panel__row-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 135%;
    color: var(--color-black);
}

/* стили блока подпишись */

.sign-up {
    background-color: var(--color-brand);
}

.sign-up__paragraph {
    /* padding: 50px 450px 50px 450px; */
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.sign-up__title {
    margin: 0;
    color: var(--color-white);
    font-size: 36px;
    font-weight: 700;
}

.sign-up__text {
    color: var(--color-white);
    font-size: 18px;
}

.sign-up__form-group {
    margin-top: 35px;
}

.sign-up__form-group input[type="text"] {
    width: 300px;
    height: 48px;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 20px;

    color: var(--color-black);
}

.sign-up__form-group button[type="submit"] {
    background-color: transparent;
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    outline: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.sign-up__form-group button[type="submit"]:hover {
    background-color: var(--color-white);
    color: var(--color-brand);
    transition: all 0.3s ease;
}

/* стили футера */

.footer {
    border-top: 1px solid var(--color-border);
}

.footer__row {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.footer__nav {
    flex-grow: 1;
    margin-left: 40px;
}

.footer__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 35px;
}

.footer__menu a {
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    /* анимация */
    transition: all 0.3s ease;
}

.footer__menu a:hover {
    color: var(--color-brand);
    border-bottom: 1px solid var(--color-brand);
}

.footer__socials {
    display: flex;
    gap: 20px;
    position: relative;
}

.circle {
    position: absolute;
}

.icon {
    margin: 8px;
}

.socials__icon:hover svg circle {
    stroke-opacity: 65%;
    transition: all 0.3s ease;
}

.socials__icon:hover svg path {
    fill-opacity: 65%;
    transition: all 0.3s ease;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__copyright-text {

    font-size: 12px;
    color: #999999;
}

.socials__img:focus {
    fill: #222222;
}